<div class="modal-overlay" (click)="closeWithAnimation()">

  <!-- La escena 3D en el centro -->
  <div class="scene" [ngClass]="{'open': isOpen()}" (click)="stopPropagation($event)">
      
      <!-- Botón de Cerrar (Nivel superior de la escena para asegurar clics) -->
      <button class="close-box-btn" (click)="closeWithAnimation()">X</button>

      <!-- Sombra debajo de la caja para mayor realismo -->
      <div class="box-shadow-layer"></div>

      <!-- Las paredes de la caja base -->
      <div class="face face-bottom">          
          <div class="info-content">
              <h2>{{ episode().name }}</h2>
              <div class="info-meta">
                  <span class="badge">Temporada {{ episode().season }}</span>
                  <span class="badge">Episodio {{ episode().episode_number }}</span>
                  <span class="airdate">Emisión: {{ episode().airdate }}</span>
              </div>
              
              <!-- Sinopsis -->
              <p class="synopsis">{{ episode().synopsis }}</p>
          </div>
      </div>
      
      <!-- Lados físicos de la caja base -->
      <div class="face face-front"></div>
      <div class="face face-back"></div>
      <div class="face face-left"></div>
      <div class="face face-right"></div>

      <!-- La tapa articulada (bisagra) -->
      <div class="lid-layer">
          
          <!-- Cara externa (arriba de la tapa cuando está cerrada, atrás cuando se abre) -->
          <div class="lid-face lid-top">
              <div class="lid-logo">🍩 DONUTS</div>
          </div>
          
          <!-- Cara interna (donde va la foto del episodio de la API) -->
          <div class="lid-face lid-inner">
              <div class="lid-content-wrapper">
                  <img 
                    class="episode-img" 
                    [src]="'https://cdn.thesimpsonsapi.com/500' + episode().image_path" 
                    [alt]="episode().name">
              </div>
          </div>
          
          <!-- Solapa miniatura -->
          <div class="lid-flap"></div>
      </div>
  </div>

</div>
