<div class="search-container" [ngClass]="'search-container--' + theme()">

  <div class="search-icon-wrapper" (click)="toggleSearch()">

    @switch (theme()) {

    @case ('characters') {
    @if (isSearchOpen) {
    <img src="/icons/Icon-Homer-Happy.png" alt="Homero Feliz" class="search-icon search-icon--static">
    } @else {
    <img src="/icons/Icon-Homer-Beer.png" alt="Buscar Personajes" class="search-icon">
    }
    <div class="search-label" [class.search-label--static]="isSearchOpen">Buscar Personajes</div>
    }

    @case ('locations') {
    @if (isSearchOpen) {
    <img src="/icons/Icon-homero-point-out.png" alt="Homero Apuntando" class="search-icon search-icon--static">
    } @else {
    <img src="/icons/Icon-homero-search.png" alt="Buscar Lugares" class="search-icon">
    }
    <div class="search-label" [class.search-label--static]="isSearchOpen">Buscar Lugares</div>
    }

    @case ('episodes') {
    @if (isSearchOpen) {
    <img src="/icons/Icon-bart.png" alt="Bart" class="search-icon search-icon--static">
    } @else {
    <img src="/icons/Icon-bart-search.png" alt="Buscar Episodios" class="search-icon">
    }
    <div class="search-label" [class.search-label--static]="isSearchOpen">Buscar Episodios</div>
    }
    }

  </div>

  <div class="search-bar hidden" [class.hidden]="!isSearchOpen">
    <input type="text" [formControl]="searchControl" [placeholder]="placeholderText()">
    
    <!-- Botón de Filtros Avanzados (Texto) -->
    <button class="action-btn filter-btn" (click)="openFilters()">Filtros</button>

    <button class="action-btn clear-btn" (click)="clearSearch()">Limpiar</button>
  </div>

</div>

<!-- Inyección del Componente Reutilizable del Modal de Filtros -->
<app-search-filters 
  [theme]="theme()" 
  [isOpen]="isFiltersOpen" 
  (close)="closeFilters()" 
  (applyFilters)="onFiltersApplied($event)">
</app-search-filters>
